<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sticky Footer Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Funny Movie Game</h1>
      </div>
         <form action="" method="post" name="formFilmName">
          <input type="text" name="nameFilm">
          <input type="submit" name="submitFilm">
        </form>
        <%if @arrayPoster %>
          <% @arrayPoster.each do |poster|%>
            <img class="poster" src=<%=poster %>>
          <% end %>
        <% end %>
      </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>
  </body>
</html>